    .attribution 
    { 
    	font-size: 7px;
    	text-align: center; 

    	min-width: 50em;

    	position: absolute;
    	bottom: 0px;
    	left: 0px;
    }

    .attribution a 
    { 
    	color: hsl(228, 45%, 44%); 
    }